.mess-container{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.mess{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}